<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>

        <RollingFile name="errorFile" fileName="logs/error.log"
                     filePattern="logs/$${date:yyyy-MM}/error-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="20 KB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="resultFile" fileName="logs/result.log"
                     filePattern="logs/$${date:yyyy-MM}/result-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10 KB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="daoDebugFile" fileName="logs/dao-debug.log"
                     filePattern="logs/$${date:yyyy-MM}/dao-debug-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="40 KB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="serviceDebugFile" fileName="logs/service-debug.log"
                     filePattern="logs/$${date:yyyy-MM}/service-%d{MM-dd-yyyy}-debug-%i.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10 KB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="dbUtilsDebugFile" fileName="logs/dbUtils-debug.log"
                     filePattern="logs/$${date:yyyy-MM}/dbUtils-%d{MM-dd-yyyy}-debug-%i.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="20 KB"/>
            </Policies>
        </RollingFile>

        <JDBC name="databaseAppender" tableName="logs">
            <DriverManager connectionString="jdbc:postgresql://localhost:5432/onlineShop"
                           driverClassName="org.postgresql.Driver" username="postgres" password="1"/>
            <Column name="logId" pattern="%u" isUnicode="false"/>
            <Column name="eventDate" isEventTimestamp="true" isUnicode="false"/>
            <Column name="level" pattern="%level" isUnicode="false"/>
            <Column name="logger" pattern="%logger" isUnicode="false"/>
            <Column name="message" pattern="%message" isUnicode="false"/>
            <Column name="exception" pattern="%ex{full}" isUnicode="false"/>
        </JDBC>
    </Appenders>

    <Loggers>
        <Root level="error">
            <AppenderRef ref="errorFile"/>
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="databaseAppender"/>
        </Root>
        <Logger name="part6.lesson22.Main" level="debug" additivity="false">
            <AppenderRef ref="resultFile" level="DEBUG"/>
            <AppenderRef ref="databaseAppender" level="DEBUG"/>
        </Logger>
        <Logger name="part6.lesson22.dao" level="debug" additivity="false">
            <AppenderRef ref="daoDebugFile" level="DEBUG"/>
        </Logger>
        <Logger name="part6.lesson22.service" level="debug" additivity="false">
            <AppenderRef ref="serviceDebugFile" level="DEBUG"/>
        </Logger>
        <Logger name="part6.lesson22.dbUtils" level="debug" additivity="false">
            <AppenderRef ref="dbUtilsDebugFile" level="DEBUG"/>
        </Logger>
    </Loggers>
</Configuration>